{% extends "base.html" %}

{% block content %}

<div class="search-form">
  <form method="get" action="{% url 'profiles:search' %}">
  <label for="id_q"> Search: </label>
  <input type="text" name="q" id="id_q" value="{{ request.GET.q }}"/>
  <input type="submit" value="Search"/>
  </form>
</div>

{% if search %}
  <p>You searched for {{ search }} </p>
    {% if search_results %}
      {% for user in search_results %}
      <p> <a href="{{ user.get_absolute_url }}">{{ user.get_full_name }} </a> </p>
      {% endfor %}
      {% else %}
      <p>No results found</p> 
    {% endif %}
{% endif %}
{% endblock content %}
