<div class="message" id="message{{ message.id }}">
  <hr>
  <strong> To: </strong> <a href="{{ message.recipient.get_absolute_url }}">{{ message.recipient.get_full_name }}</a>
  <br>
  <strong> From: </strong> <a href="{{ message.sender.get_absolute_url }}">{{ message.sender.get_full_name }}</a>
  <br>
  <p> {{ message.message_body }} </p>
  <br>
  <strong> Sent at {{ message.sent_at }}</strong>

  {% if message.sender == user or message.recipient == user %}
  <input class='delete-message-button'
          onClick="return delete_message(this, {{ message.id }})"
          type="button"
          value="Delete"
          id="delete_message_button{{ message.id }}"
          data-message-id="{{ message.id }}" />
  {% endif %}
 
</div>
