<div class="post" id="post{{ post.id }}">
    <div>
      <hr>
        {% if post.shared %}
          <strong> Shared by <a href="{{ post.posted_by.get_absolute_url }}">{{ post.posted_by.get_full_name }}</a></strong>
          <strong>
            <a href="{{ post.share.original_post.get_absolute_url }}"> Original Post</a>
          </strong>
          <br>
        {% else %}
          <strong> Posted by <a href="{{ post.posted_by.get_absolute_url }}">{{ post.posted_by.get_full_name }}</a>
          </strong>
          <br>
        {% endif %}
      <hr>
        <strong> <a href="{{ post.get_absolute_url }}">{{ post.created }}</a> </strong>

        {% if post.posted_by == request.user %}
        <input class='delete-button'
               onClick="return post_delete(this, {{ post.id }})"
               type="button"
               value="Delete"
               id="delete_button{{ post.id }}"
               data-post-id="{{ post.id }}" />
        {% endif %}
        <div class="post-content">
        <br>
        {{ post.content|safe|urlize|linebreaksbr }} 
        <br>
        </div>

        <div>
        <small class = 'like-count'
               id="like_count{{ post.id }}" > {{ post.likes.count }} people like this </small>

        <input class='like-button'
               onClick="return like_dislike(this, {{ post.id }})"
               type="button"
               {% if post.liked_by_user %}
               value="Dislike"
               {% else %}
               value = "Like"
               {% endif %}
               id="like_button{{ post.id }}"
               data-post-id="{{ post.id }}" />

        <input class='share-button'
               onClick="return post_share(this, {{ post.id }})"
               type="button"
               value="Share"
               id="sharebutton{{ post.id }}"
               data-post-id="{{ post.id }}" />
        </div>
    </div>
    <br>
</div>
