{% extends "base.html" %}

{% block content %}

<div class="search-box">
  <form method="get" action="{% url 'search' %}">
  <label for="id_q"> Search: </label>
  <input type="text" name="q" id="id_q" value="{{ request.GET.q }}"/>
  <input type="submit" value="Search"/>
  </form>
</div>
<div class="search-results">
{% if search %}
  <p>You searched for {{ search }} </p>
    {% if search_results %}
      {% for result in search_results %}
        <p> <a href="{{ result.get_absolute_url }}">{{ result }}</a> </p>
      {% endfor %}
    {% else %}
      <p>No results found</p> 
    {% endif %}
</div>
{% endif %}
{% endblock content %}
