{% load static %}

<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#tabs" ).tabs();
  } );
  </script>
<script type="text/javascript">
    $(document).ready(function(){
      auto_refresh_tab();
    });
</script>
</head>
<body>

<div class="tabs" id="tabs">
  <ul>
    <li><a id="inbox" href="{% url 'messages:inbox' %}" class="tablink" >Inbox({{ inbox_count }})</a></li>
    <li><a id="sent" href="{% url 'messages:sent' %}" class="tablink" >Sent({{ sent_count }})</a></li>
    <li><a id="trash" href="{% url 'messages:trash' %}" class="tablink" >Trash({{ trash_count }})</a></li>
  </ul>
  <div id="inbox">
  </div>
  <div id="sent">
  </div>
  <div id="trash">
  </div>
</div>


</body>
</html>
