{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} Flamingo Profiles {% endblock head_title %}</title>
    <style> {% block style %}{% endblock style %} </style>
</head>
<body>
    {% include "profiles/messages_display.html" %}
    <div class="container">
    {% block content %}{% endblock content %}
    </div>

    <script   src="https://code.jquery.com/jquery-2.2.4.min.js"   integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44="   crossorigin="anonymous"></script>
    <script language="javascript" type="text/javascript" src="{% static "js/base.js" %}"></script>
</body>
</html>