<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block head_title %} Flamingo Profiles {% endblock head_title %}</title>
    <style> {% block style %}{% endblock style %} </style>

    <script type="text/javascript">
      function like_dislike(el)
      {
          if ( el.value === "Like" )
              el.value = "Dislike";
          else
              el.value = "Like";
      }
     </script>
</head>
<body>
    {% include "profiles/messages_display.html" %}
    <div class="container">
    {% block content %}{% endblock content %}
    </div>
</body>
</html>