{% if posts_containing_tag %}
<h1> Posts containing #{{ tag }}</h1>
{% for post in posts_containing_tag %}
    <div>
        <hr>
        <a href="{{ post.posted_by.get_absolute_url }}">{{ post.posted_by.get_full_name }}</a> <br>
        {{ post.content|safe|urlize }} <br>
        <small>{{ post.created }} </small>
        <input onClick="return like_dislike(this)" type="button" value="Like" id="like_button{{ forloop.counter }}"/>
    </div>
{% endfor %}

{% else %}
<h1>No posts with the tag {{ tag }}</h1>
{% endif %}
