<div class="post" id="post">
  <hr>
  <a href="{{ post.posted_by.get_absolute_url }}">{{ post.posted_by.get_full_name }}</a> <br>
  <br>
  <div class="post-content">
    {{ post.content|safe|urlize }} 
  </div>
  <br>
  <div class="created-timestamp">
    <small>{{ post.created }} </small>
  </div>
  <br>
  <div class="like-button" id="likebtn">
    <input onClick="return like_dislike(this)" type="button" value="Like" id="like_button{{post.id}}"/>
  </div>
  <div class="like-count"> 
    <strong> {{ post.like_set.all.count }} people like this </strong>
  </div>
</div>

